@import "~assets/scss/variables";
.g-container{
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  .g-view-container{
    width: 100%;
    height: 100%;
    padding-bottom: $tabbar-height;
  }
  .g-footer-container{
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}